Django
pillow
tzdata
python-decouple
psycopg2-binary
groq
djangorestframework
djangorestframework-simplejwt
pgvector
channels
channels-redis
celery
redis
sentence-transformers
numpy
drf-spectacular
daphne
reportlab
openpyxl
edge-tts